.mitex sub {
    vertical-align: -0.50ex;
    margin-left: -0.17em;
    margin-right: -0.12em;
    font-size: 1em;
}

.mitex sup {
    font-size: 0.85em;
    vertical-align: 0.20em;
    margin-left: -0.12em;
    margin-right: -0.05em;
}

.mitex {
    text-decoration: none;
    color: #993333;
    font-family: serif;
    font-size: 50px;
}

.tex {
    font-family: "Lucida Console", monospace;
    font-size: 15px;
}

.not-tex {
    font-family: "Verdana", sans-serif;
    font-size: 12px;
}

#pagetable {
    border-spacing: 0em 1em;
    width: 100%;
    position: relative;
}

body {
    background: #778899;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.headerleft {
    padding: 0.5em;
    border: 0px;
}

.headerright {
    float: right;
    height: 90px;
    border: 0px;
}

#compile {
    background: white url(gradient.png) repeat-x;
    padding: 1em;
}

td {
    vertical-align: top;
}

td.td_tex {
    border: 1px solid black;
    padding: 10px;
    background-color: #CCCCCC;
}

textarea {
    border: 1px solid black;
}

#pagetablediv table, #pagetablediv textarea {
    width: 100%;
}

h2.warning {
    text-align: center;
    color: red;
}

hr {
    border: 1px solid #778899;
}

.footer {
    font-size: 8pt;
    text-align: center;
}

#compile-log {
    float: right;
    z-index: 1;
    width: 100%;
    position: relative;
}

#log-div {
    display: inline;
    position: absolute;
    right: 0px;
}

#close {
    float: right;
}
