.tex {
    font-family: "Lucida Console", monospace;
    font-size: 12px;
}

.not-tex {
    font-family: "Verdana", sans-serif;
    font-size: 12px;
}

table.pagetable {
    border-spacing: 1em;
}

.pagetablediv {
    overflow: auto;
}

body {
    background: lightslategrey;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.headerleft {
    padding: 0.5em;
    border: 0px;
}

.headerright {
    float: right;
    height: 90px;
    border: 0px;
}

#compile {
    background: white url(gradient.png) repeat-x;
    padding: 1em;
}

td {
    vertical-align: top;
}

td.td_tex {
    border: 1px solid black;
    padding: 10px;
    background-color: #CCCCCC;
}

textarea {
    border: 1px solid black;
}

h2.warning {
    text-align: center;
    color: red;
}

hr {
    border: 1px solid lightslategrey;
}
