
/* test style */

.under {
    text-decoration : underline;
    color : rgb(20%,20.89%, 30% );
}

.over {
    text-decoration : overline;
    color : fuchsia;
}

.sc {
    text-decoration : underline;
    text-transform : uppercase;
    color : rgb(170, 20, 40);
}

.sl {
    font-style : oblique;
    font-weight : 800;
    color : maroon;
}

p {
    color : rgb(100,100,100);
}

p.center {
    text-align : center;
    color : red;
}

.pre, p.center, .code {
    font-family : monospace;
}

.pre {
    color : navy;
}

div#moje {
    color : yellow;
}

div {
    color : orange;
}
#xx, .right {
    text-align : right;
}
.right {
    color : black;
}

.bigred {
    color : red;
    font-size : x-large;
}



